<div class="container py-5">
  <div class="row">
    <div class="col-2" style="height: 80vh;">
      <ul class="nav nav-pills flex-column">
        <li class="nav-item mb-2 li-public">
          <a class="nav-link {{#ifCond roomId 'public'}}active{{/ifCond}}" href="/home">
            公開聊天室
            {{!-- 有未讀public訊息，則顯示 --}}
            {{#if user.publicNotify}}
            <div class="unread-msg-count my-auto">
              <i class="fa-solid fa-circle-exclamation"></i>
            </div>
            {{/if}}
          </a>
        </li>
        <li class="nav-item mb-2">
          <a class="nav-link disabled" aria-disabled="true">好友: </a>
        </li>
        {{#each userFriends}}
        <li class="nav-item mb-2 li-{{this._id}}" onclick="refreshUnreadMessages(event)">
          <a class="nav-link {{#ifCond ../roomId this._id}}active{{/ifCond}}" href="/messages/t/{{this._id}}"
            data-user-id="{{this._id}}">
            {{this.name}}
            {{#if this.unreadCount}}
            <div class="unread-msg-count my-auto">{{this.unreadCount}}</div>
            {{/if}}
          </a>
        </li>
        {{/each}}
      </ul>
    </div>

    <div id="chat-room" class="col-10 chat-room" style="height: 70vh;" data-room-id="{{roomId}}">
      <div class="title">
        {{#ifCond roomId 'public'}}
        <p>公開聊天室</p>
        {{else}}
        {{!-- 以使用者name當顯示的房間名 --}}
        <p>{{roomName}}</p>
        {{/ifCond}}
        <input type="hidden" class="selector" value="public">
      </div>

      <div class="row room-block">
        <!-- 公開聊天室才顯示線上使用者的區塊 -->
        {{#ifCond roomId 'public'}}
        <div class="online-users col-3">
          <p>線上使用者：</p>
          <ul class="online-users-list" style="list-style: none;">
            {{#each onlineUser}}
            {{#ifCond ../user._id this._id}}
            {{!-- 如果是使用者自己，則不顯示任何東西，避免使用者對自己發訊息 --}}
            {{else}}
            <li class="online-user li-{{this._id}}">
              <span>{{this.name}}</span>
              {{#isFriend ../user.friends this._id}}
              {{!-- 已經是朋友就不顯示按鈕 --}}
              {{else}}
              <button type="button" title="addfriend" class="add-friend-button btn btn-sm btn-secondary rounded-circle"
                onclick="addFriend(event)">
                <i class="fa-solid fa-plus" data-user-id="{{this._id}}"></i>
              </button>
              {{/isFriend}}
            </li>
            {{/ifCond}}
            {{/each}}
          </ul>
        </div>
        {{/ifCond}}

        <div class="chat-messages {{#ifCond roomId 'public'}}col-9{{else}}col-12{{/ifCond}}" id="chat-messages">
          <div class="autoscrollable-content" id="msgs">
            {{#each messages}}
            {{#ifCond ../user._id this.sender}}
            <div class="send-messages mb-3">
              <div class="send-message">
                {{!-- this.content = ['msg', 'msg', ...] --}}
                {{#each this.content}}
                {{!-- this = 'msg' --}}
                {{this}}<br>
                {{/each}}
              </div>
              {{#ifCond this.unread 'false'}}
              <div class="d-flex message-under-zone">
                <span class="readed-msg">已讀</span>
                <span class="time text-muted">{{formatTime this.createdAt}}</span>
              </div>
              {{else}}
              {{!-- unread = true 未讀 --}}
              <div class="d-flex message-under-zone unread">
                <span class="time text-muted">{{formatTime this.createdAt}}</span>
              </div>
              {{/ifCond}}
            </div>
            {{else}}
            <div class="receive-messages mb-3">
              <div class="receive-message">
                {{!-- this.content = ['msg', 'msg', ...] --}}
                {{#each this.content}}
                {{!-- this = 'msg' --}}
                {{this}}<br>
                {{/each}}
              </div>
              <div class="time text-muted"><span>{{formatTime this.createdAt}}</span></div>
            </div>
            {{/ifCond}}
            {{/each}}
          </div>
        </div>
      </div>

      <form id="chat-form">
        <div class="messageArea d-flex">
          <textarea type="text" placeholder="輸入訊息..." class="form-control" id="inputArea" name="message" rows="2"
            wrap="soft" maxlength="1000" onkeyup="submitMessage(event)" onkeydown="cancelNewLine(event)"
            data-room-id="{{roomId}}" data-sender-id="{{user._id}}"></textarea>
          <button type="button" title="submitMessage" class="btn" onclick="submitMessageBtn(event)">
            <i class="fas fa-paper-plane"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>